<a href="Logout" style="float:right">Logout</a>
<a href="dashboardbutton" style="float:right; padding-right:25px">Dashboard</a>
<h1>@ViewBag.Wedding.WedderOne Weds @ViewBag.Wedding.WedderTwo</h1>
<h3>Date: @ViewBag.Wedding.Date</h3>
<h3>Venue: @ViewBag.Wedding.Address</h3>
<h3>Guest: @ViewBag.Guests.Count</h3>

